.services {
    display: grid;
    row-gap: 50px;

    padding: 10px;
    justify-items: center;
    &__item {
        width: 320px;
        height: 80px;
        text-align: left;
        position: relative;
        padding-left: 60px;
        transition: $transition;
        transition-property: transform;
        &:hover {
            transform: scale(1.1);
        }
    }
    &__icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        color: $text-second-color;
        text-align: left;
        text-transform: uppercase;
        line-height: normal;
        font-size: 14px;
        font-weight: 700;
        padding-bottom: 10px;
    }
    &__discription {
        font-family: "Roboto", normal;
        font-weight: 400;
        color: $text-third-color;
    }
}

@media (min-width: 740px) {
    .services {
        row-gap: 100px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .services {
        row-gap: 100px;

        grid-template-columns: repeat(3, 1fr);
    }
}
