* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
}
img {
    max-width: 100%;
}

.page {
    text-align: center;
    font-family: "Montserrat", normal;
    color: $text-main-color;
}
